////////////////////////////////////////////////////////////////////////////////
// DECATHLON SLATE THEME
//
// Built to offered a seamless visual experience between all of our internal & external APIs
// Source : https://bitbucket.org/freethedevelopersteam/decathlon-slate-theme
// 
////////////////////////////////////////////////////////////////////////////////
.toc-wrapper {
  .logo {
    width: 200px !important;
  }
  >.search {
    margin-top: 55px;
    input {
      &::placeholder {
        color: white;
      }
    }
  }
}

// BACKGROUND COLORS
////////////////////
$nav-bg: #3481BE;
$examples-bg: #2E3336;
$code-bg: #1e1e1e;
$code-annotation-bg: #191D1F;
$nav-subitem-bg: #135b95;
$nav-active-bg: #194972;
$nav-active-parent-bg: #0c4875; // parent links of the current section
$lang-select-border: #000;
$lang-select-bg: #2d2d2d;
$lang-select-active-bg: $examples-bg; // feel free to change this to blue or something
$lang-select-pressed-bg: #111; // color of language tab bg when mouse is pressed
$main-bg: #F3F7F9;
$aside-notice-bg: #E4F1F7;
$aside-warning-bg: #F2D8DA;
$aside-success-bg: #6ac174;
$search-notice-bg: #F2D8DA;
// OTHER
////////////////////
$nav-footer-border-color: rgba(255, 255, 255, 0.6);
$search-box-border-color: rgba(255, 255, 255, 0.5);
