///////////////////////////////////////////////////////////////////////////
/////////////// Override default style, customize it //////////////////////
///////////////////////////////////////////////////////////////////////////
// Aniamtions
.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

// Scrollbars
html::-webkit-scrollbar {
  background: #fff;
  width: 0.6em;
  cursor: pointer;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background-color: $nav-bg;
  outline: 1px solid $nav-bg;
}

.highlight::-webkit-scrollbar,
table::-webkit-scrollbar {
  background: lighten($nav-bg, 40%);
  width: 0.6em;
  height: .6em;
  cursor: pointer;
}

.highlight::-webkit-scrollbar-track,
table::-webkit-scrollbar-track {
  background: lighten($nav-bg, 40%);
}

.highlight::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb {
  background-color: $nav-bg;
  outline: 1px solid $nav-bg;
  border-radius: 1em;
}

.toc-wrapper::-webkit-scrollbar {
  background: #fff;
  width: 0.6em;
  cursor: pointer;
}

.toc-wrapper::-webkit-scrollbar-track {
  background: #fff;
}

.toc-wrapper::-webkit-scrollbar-thumb {
  background-color: lighten(#000, 40%);
  outline: 1px solid $nav-bg;
}

// Top banner
.banner {
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 0;
  background-image: url('/images/decathlon-banner-landing.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  .intro-wrapper {
    color: #fff;
    right: 10%;
    top: 50%;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    .title,
    .subtitle {
      display: inline-block;
      background-image: none;
      background-color: $nav-bg;
      font-style: italic;
      margin: 0;
    }
    .title {
      border: none;
      padding: .1em .3em;
      font-size: 2.8em;
      text-transform: uppercase;
    }
    .subtitle {
      padding: 0 0 .7em .8em;
      text-transform: lowercase;
    }
  }
  .down-arrow {
    position: absolute;
    max-width: 50px;
    z-index: 3;
    bottom: 5%;
    left: 50%;
    right: 50%;
    cursor: pointer;
  }
  .banner-overlay {
    background: linear-gradient(45deg, rgba(33, 155, 214, 0.2), rgba(180, 236, 81, 0.3));
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .banner-layer-container {
    background-image: url('/images/decathlon-banner-layer.png');
    background-size: cover;
    position: absolute;
    height: 100vh;
    right: 0;
    width: 20%;
  }
}

// Intro
.intro {
  padding: 3em 0 2em 0;
  width: 100%;
  background: linear-gradient(45deg, rgb(53, 131, 189), rgb(84, 160, 211));
  color: #fff;
  h1 {
    background: transparent !important;
  }
  p {
    padding: 0 28px;
  }
}

// Code
.highlight {
  font-weight: 500;
  .s1,
  .s2 {
    // color: #7ddeff;
    color: $code-color;
  }
  .mf {
    color: #dc6b36;
  }
  .mi {
    color: #69c8a7;
  }
  .kc {
    color: #219dd8;
  }
  .err {
    color: #de1380;
  }
  .p {
    color: $code-color;
  }
}

.hr-section-sep {
  margin: 0 !important;
  border-top: 0 !important;
  border-bottom: 1px solid #eaeaea !important;
  width: 49.9%;
  position: relative;
  top: 1px;
}

.hr-section-sep+p {
  margin: 0;
}
